SourceStudy/Spring/spring-framework-5.2.9.RELEASE/debug-demo/src/main/resources/user.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
		targetNamespace="http://www.eamonzhang.com/schema/user"
		elementFormDefault="qualified">

	<element name="user">
		<complexType>
			<!--这里的 id 属性一定不能少-->
			<attribute name="id" type="string"/>
			<attribute name="username" type="string"/>
			<attribute name="password" type="string"/>
		</complexType>
	</element>

</schema>